<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata Kelompok 5</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>KELOMPOK 5</h1>
        
        <div class="members">
            <div class="member">
                <img src="{{ url_for('static', filename='images/muksin.jpg') }}">
                <h2>Anggota 1</h2>
                <p><strong>Nama:</strong> Muklis Nur Arif</p>
                <p><strong>NIM:</strong> 22.83.0837</p>
                <p><strong>Pendidikan:</strong> S1 Teknik Komputer</p>
                <P><strong>Tentang:</strong>Manusia Ciptaan Tuhan Yang Rajin Mengaji</P>
            </div>

            <div class="member">
                <img src="{{ url_for('static', filename='images/alvin.jpg') }}">
                <h2>Anggota 2</h2>
                <p><strong>Nama:</strong> Alvin Rizky Saputra</p>
                <p><strong>NIM:</strong> 22.83.0867</p>
                <p><strong>Pendidikan:</strong> S1 Teknik Komputer</p>
                <P><strong>Tentang:</strong>Manusia Ciptaan Tuhan Yang Rajin Beramal</P>
            </div>

            <div class="member">
                <img src="{{ url_for('static', filename='images/kepin.jpg') }}">
                <h2>Anggota 3</h2>
                <p><strong>Nama:</strong> Calvin Rudiansyah P N</p>
                <p><strong>NIM:</strong> 22.83.0863</p>
                <p><strong>Pendidikan:</strong> S1 Teknik Komputer</p>
                <P><strong>Tentang:</strong>Manusia Ciptaan Tuhan Yang Insyaallah Sholeh</P>
            </div>
            
            <div class="member">
                <img src="{{ url_for('static', filename='images/aji.jpg') }}">
                <h2>Anggota 4</h2>
                <p><strong>Nama:</strong> Muh Vian Rista Aji</p>
                <p><strong>NIM:</strong> 22.83.0849</p>
                <p><strong>Pendidikan:</strong> S1 Teknik Komputer</p>
                <P><strong>Tentang: </strong>Manusia Ciptaan Tuhan Yang Rajin Sholat</P>
            </div>

            <div class="member">
                <img src="{{ url_for('static', filename='images/adit.jpg') }}">
                <h2>Anggota 5</h2>
                <p><strong>Nama:</strong> Aditya Rosprihananta</p>
                <p><strong>NIM:</strong> 22.83.0843</p>
                <p><strong>Pendidikan:</strong> S1 Teknik Komputer</p>
                <P><strong>Tentang: </strong>Manusia Ciptaan Tuhan Yang Rajin Mencintai Ciptaan Tuhan</P>
            </div>

        </div>
    </div>
</body>
</html>
